<!doctype html>
<html ng-app="app">
<head>
	<title>Home Page</title>
	
	<style type="text/css">

	</style>
	
</head>

<body>


	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">
				<h1 style="color: red;">Greeting</h1>
			</div>
		</div>
			
		<div class="row">
			<div class="col-md-12">
				<a href="#/listUsers">List All Users</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<a href="#/addUser">Add User</a>
			</div>
		</div>
	</div>	
</body>
</html>