<!doctype html>
<html ng-app="app">
<head>
	<title>Home Page</title>
	
	<style type="text/css">

		.row-center {
			padding-top: 50px;
			margin: auto;
			width: 50%;
		}
		
	</style>
	
</head>

<body>


	<div class="container text-center">
		<div class="row row-center">
			<div class="col-md-4">
				<a class="btn btn-primary" href="#/listUsers">List All Users</a>
			</div>
			
			<div class="col-md-4">
				<a class="btn btn-primary" href="#/addUser">Add User</a>
			</div>
			
			<div class="col-md-4">
				<a class="btn btn-primary" href="#/editUser">Change Password</a>
			</div>
		</div>
	</div>	
</body>
</html>